#nombre{
  color: black;
  background-color: #90CAF9;
  font-family: Futura;
  padding: 7%;
  margin: 20px, 0px, 20px, 0px;
}

.columna{
  background-color: #FFD6BB;
  border: 15px, 5px, 15px, 10px;
  float: left;
  width: 45%;
  text-align: center;
}

.floatRight{
  background-color: #FFFDD0;
  float: right;
  padding: 1%;
  width: 50%;
}

.clearfix{
  content: "";
  clear: both;
  display: table;
}

footer{
  text-align: center;
  font-size: 16.5px;
  font-family: Avenir;
  float: initial;
  padding: 3%;
  padding-left: 55px;
  padding-right: 55px;
  border: 2%;
  font-weight: lighter;
  border-style: double;
}

h3{
  font-family: Avenir;
  text-align: center;
  font-size: 25;
}

p{
  font-family: Times New 'Times New Roman', Times, serif;
  font-size: 15px;

}

.divisiones{
  font-size: 18px;
  font-family: Times New 'Times New Roman', Times, serif;
}
